<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered users Secrets!</h1>

      <p class="secret-text">I Love Women!!</p>

      <% usersWithSecrets.forEach(function(element) { %>
        
      <%  element.secrets.forEach(function(atom) { %>
          <p class="secret-text"><%= atom %></p>
      <%  }) %>

      <% }) %>


    <hr>
  
    <a class="btn btn-dark btn-lg" href="/mysecrets" role="button">My Secrets</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>